.wrapper_banner {
  position: relative;
  .img {
    height: 350px;
    img {
      width: 100%;
      object-position: right;
      object-fit: cover;
      height: 100%;
    }
  }
  .content {
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    font-size: 32px;
    font-weight: 500;
    line-height: 80px;
  }
}
.wrapper {
  padding: 50px 0;

  .main_title {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 500;
  }
  @media (max-width: 576px) {
    padding: 20px 0;
    .main_title {
      font-size: 28px;
      line-height: 1.5;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
    @media (max-width: 960px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
    &.double {
      grid-template-columns: 1fr 1fr;
      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }
      .item {
        max-width: 100%;
        .type {
          font-weight: 600;
          line-height: 20px;
          color: var(--border-color);
          @media (max-width: 576px) {
            font-size: 14px;
          }
        }
        .details {
          padding: 20px;
          background: #fff;
          height: 180px;
          display: flex;
          flex-direction: column;
        }
        .title {
          max-width: 500px;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          @media (max-width: 576px) {
            font-size: 16px;
            max-width: 90%;
            line-height: 1.3;
            color: var(--black);
          }
        }
        .date {
          margin-top: auto;
          font-weight: 600;
          color: var(--border-color);
          @media (max-width: 576px) {
            font-size: 14px;
          }
        }
      }
    }
    &.full {
      grid-template-columns: 1fr;
      .item {
        position: relative;
        width: 100%;
        max-width: 100% !important;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.7),
            inset 0px -200px 100px 0px rgba(0, 0, 0, 0.7);
          @media (max-width: 576px) {
            display: none;
          }
        }
        .img {
          filter: brightness(1);
          &:hover {
            filter: brightness(0.8);
          }
          img {
            transform: scale(1);
            transition: 0.4s;
          }
        }
        &:hover {
          img {
            transform: scale(1.05);
          }
        }

        .details {
          z-index: 2;
          position: absolute;
          bottom: 10%;
          color: #fff;
          background: transparent;
          @media (max-width: 960px) {
            bottom: 0;
          }
          @media (max-width: 576px) {
            position: static;
            background: #fff;
          }
          .date {
            color: #fff;
            margin-top: 10px;
            font-size: 16px;
            @media (max-width: 576px) {
              color: var(--border-color);
              font-size: 14px;
            }
          }
          .type {
            color: #fff;
            margin-bottom: 10px;
            font-size: 16px;
            @media (max-width: 576px) {
              color: var(--border-color);
              font-size: 14px;
            }
          }
          .title {
            font-size: 36px;
            max-width: 90%;
            line-height: 1.1;
            @media (max-width: 960px) {
              font-size: 24px;
              max-width: 90%;
              line-height: 1.1;
            }
            @media (max-width: 576px) {
              font-size: 16px;
              max-width: 90%;
              line-height: 1.3;
              color: var(--black);
            }
          }
        }
      }
    }
    .wrapper_item {
      display: flex;
      justify-content: center;
      a {
        color: #1d1d1d;
        width: 100%;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .item {
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
      max-width: 500px;
      border-radius: 16px;
      overflow: hidden;
      .img {
        max-height: 500px;
        overflow: hidden;
        transition: 0.4s;
        filter: brightness(1);
        &:hover {
          filter: brightness(0.6);
        }
        img {
          min-height: 100%;
          width: 100%;
          object-fit: cover;
          transform: scale(1.05);
          object-position: center;
        }
      }
      .type {
        font-weight: 600;
        line-height: 20px;
        color: var(--border-color);
        @media (max-width: 576px) {
          font-size: 14px;
        }
      }
      .details {
        padding: 20px;
        background: #fff;
        height: 180px;
        display: flex;
        flex-direction: column;
      }
      .title {
        max-width: 500px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: 576px) {
          font-size: 16px;
          max-width: 90%;
          line-height: 1.3;
          color: var(--black);
        }
      }
      .date {
        margin-top: auto;
        font-weight: 600;
        color: var(--border-color);
        @media (max-width: 576px) {
          font-size: 14px;
        }
      }
      a {
        color: var(--primary-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.wrapper_header {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 20px;
  @media (max-width: 767px) {
    max-width: 100%;
    padding: 20px 0;
  }
  .type {
    color: #e85d00;
    font-size: 16px;
    font-weight: 500;
  }
  .date {
    font-weight: 500;
    color: var(--border-color);
  }
}
.wrapper_content {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 767px) {
    max-width: 100%;
  }
  .main_title {
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 1.1;
    }
  }
  .content {
    margin: 30px 0;
    padding: 20px 0;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    .part {
      font-size: 16px;
      margin-bottom: 24px;
      line-height: 1.6;
    }
    .img {
      display: flex;
      justify-content: center;
      margin: 30px 0;
      img {
        max-width: 500px;
        width: 100%;
        height: auto;
        border-radius: 16px;
      }
    }
  }
}

.wrapper_latest {
  margin: 0 auto;
  margin: 50px 0;
  padding: 0 40px;
  .inner {
    .main_title {
      text-align: center;
      font-size: 28px;
      line-height: 1.5;
      font-weight: bold;
      padding: 10px 0;
      margin-bottom: 10px;
    }
    .wrapper_item {
      margin: 16px;
      display: flex;
      justify-content: center;
      @media (max-width: 767px) {
        margin: 16px 0;
      }
      a {
        color: #1d1d1d;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .item {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 12px;
      max-width: 500px;
      border-radius: 16px;
      overflow: hidden;
      @media (max-width: 767px) {
        margin: 16px 5px;
        box-shadow: none;
        border: 1px solid var(--border);
      }

      .img {
        overflow: hidden;
        transition: 0.4s;
        filter: brightness(1);
        &:hover {
          filter: brightness(0.6);
        }
        img {
          min-height: 100%;
          width: 100%;
          object-fit: cover;
          transform: scale(1.05);
          object-position: center;
        }
      }
      .type {
        font-weight: 600;
        line-height: 20px;
        color: var(--border-color);
        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 1.5;
        }
        @media (max-width: 576px) {
          font-size: 14px;
          line-height: 1.5;
        }
      }
      .details {
        padding: 20px;
        background: #fff;
        height: 180px;
        display: flex;
        flex-direction: column;
      }
      .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.4;
        display: -webkit-box;
        max-width: 100%;
        height: calc(20px * 1.4 * 3);
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 1.3;
          height: calc(18px * 1.3 * 3);
          -webkit-line-clamp: 3;
        }
        @media (max-width: 576px) {
          font-size: 16px;
          line-height: 1.2;
          line-height: 1.2;
          height: calc(16px * 1.2 * 3);
          -webkit-line-clamp: 3;
        }
      }
      .date {
        margin-top: auto;
        font-weight: 600;
        color: var(--border-color);
        @media (max-width: 767px) {
          font-size: 16px;
          line-height: 1.5;
        }
        @media (max-width: 576px) {
          font-size: 14px;
          line-height: 1.5;
        }
      }
      a {
        color: var(--primary-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
