.productListWrapper {
  width: 100%;
  padding-bottom: 80px;
  background-color: #fff;
  .navBar {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--border);
  }
  .wrapper {
    display: flex;
    justify-content: space-between;

    .btn {
      display: flex;
      align-items: center;
      border: none;
      background: transparent;
      font-size: 12px;
      line-height: 18px;
      color: #1d1d1d;
      outline: 0;
      cursor: pointer;
      span {
        color: #6e6e73;
        margin: 0 4px;
      }
      .arrow {
        display: flex;
        align-items: center;
        transition: 0.2s;
        transform: rotate(0);
        svg {
          width: 15px;
        }
        &.open {
          transform: rotate(180deg);
        }
      }
    }
    .sort_cont {
      position: relative;
      .popup {
        position: absolute;
        padding: 16px;
        width: 220px;
        background: #fff;
        border: 1px solid var(--border);
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            border-bottom: 1px solid var(--border);
            &:last-child {
              border-bottom: 1px solid transparent;
            }
            button {
              padding: 10px;
              border: 0;
              cursor: pointer;
              background: transparent;
              outline: 0;
              color: #1d1d1d;
              &:disabled {
                cursor: auto;
                color: var(--border-color);
              }
            }
          }
        }
      }
    }
  }
}

.productList {
  display: flex;
  width: 100%;

  .filterWrapper {
    min-width: 250px;
    width: 100%;
    max-width: 280px;
    padding: 30px 20px;
    transition: 0.4s;
    border-right: 1px solid var(--border);
    @media (max-width: 576px) {
      display: none;
    }
    &.hide {
      min-width: 0;
      width: 0;
      padding: 30px 0;
      overflow: hidden;
    }
    .filterContent {
      transition: 0.4s;
      opacity: 1;
      top: 0;
      top: 100px;

      &.hide {
        min-width: 250px;
        opacity: 0;
        overflow: hidden;
      }
      width: 100%;
      position: sticky;
      & > div {
        margin-bottom: 20px;
        border-bottom: 1px solid var(--border);
      }
      h6 {
        margin-bottom: 10px;
      }
      p {
        margin: 10px 0 0;
      }
      .price {
        border-bottom: 1px solid transparent;
        p {
          text-align: center;
          font-size: 14px;
        }
      }
      .filter_item {
        display: flex;
        align-items: center;
      }
    }
  }
  .wrapper {
    transition: 0.4s;
    .product {
      display: block;

      background-color: #fff;
      width: 100%;
      min-width: 100%;
      padding: 38px 0;
      text-align: center;
      text-decoration: none;
      border-bottom: 1px solid var(--border);
      border-right: 1px solid var(--border);
      &:hover {
        .name {
          color: var(--primary-color);
        }
      }
      img {
        max-width: 90%;
        width: 100%;
        height: auto;
        max-height: 90%;
      }
      .type {
        display: block;
        margin-top: 18px;
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 18px;
        color: #e85d00;
      }
      .name {
        margin: 0;
        font-size: 17px;
        font-weight: 500;
        line-height: 25px;
      }
      .price {
        display: block;
        margin-top: 8px;
        font-size: 17px;
        line-height: 26px;
        color: #333333;
      }
      .colors {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        .color {
          width: 16px;
          height: 16px;
          margin-right: 6px;
          border-radius: 50%;
        }
        .black {
          background-color: #333333;
        }
        .green {
          background-color: #13af0d;
        }
        .yellow {
          background-color: #d9ff05;
        }
        .blue {
          background-color: #5484ec;
        }
      }
    }
  }
}
