.list_title {
  font-weight: 600;
  padding: 10px 0;
  font-size: 36px;
  line-height: 50px;
  margin: 30px 0 0;
  @media (max-width: 576px) {
    margin: 0;
    font-size: 24px;
  }
}
.wrapper_list {
  margin-top: 30px;
  // overflow-x: scroll;
  // border: 1px solid var(--border);
  border-radius: 6px;
  a {
    color: #1f1f1f;
    &:hover {
      text-decoration: none;
    }
  }

  .header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow: visible;
    @media (max-width: 767px) {
      display: none;
    }
    .column {
      padding: 16px;
      font-weight: 500;
      background: var(--secondary-color);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.order_list_mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}
.order_list {
  @media (max-width: 767px) {
    display: none;
  }
  a:nth-child(1) {
    .wrapper_item {
      border-top: 1px solid var(--border);
    }
  }
}
.wrapper {
  .grid_container {
    display: flex;
    .grid_item {
      width: 80%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
.wrapper_item {
  width: 100%;
  border-bottom: 1px solid var(--border);
  transition: 0.3s;
  background: #fff;

  &:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
  }
  .inner {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    .column {
      padding: 16px;
      display: flex;
      align-items: center;
      // text-align: center;
      min-width: 100px;
      padding: 16px;
      justify-content: center;
      &.blue,
      &.green {
        div {
          text-align: center;
          padding: 3px 10px;
          color: #fff;
          font-size: 12px;
          border-radius: 6px;
        }
      }
      &.blue {
        div {
          background-color: var(--primary-color);
        }
      }
      &.green {
        div {
          background-color: rgb(34, 200, 84);
        }
      }
      &.info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn {
          height: 36px;
          font-size: 14px;
        }
      }
    }
  }
  .details {
    // v2
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // span {
    //   font-weight: 600;
    // }
    font-size: 16px;
    padding: 10px 16px;
    transition: 0.2s;
    p {
      span {
        font-weight: 600;
      }
    }
  }
}
.order_in_total {
  @media (max-width: 576px) {
    display: none;
  }
}
.order_in_total_mobile {
  display: none;
  @media (max-width: 576px) {
    display: block;
  }
  .data {
    grid-template-columns: 1fr !important;
    & > div {
      display: flex;
      align-items: center;
      min-height: 50px;
    }
    .bold {
      margin: 0 0 0 10px !important;
    }
  }
}
.wrapper_details {
  padding: 30px;
  border-radius: 16px;
  background: #fff;
  margin: 30px 0;

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    @media (max-width: 576px) {
    }
    div {
      display: flex;
      align-items: center;
    }
  }
  .data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    .first {
      display: flex;
      align-items: center;
      img {
        height: 64px;
        padding: 2px 10px;
        border-radius: 6px;
        margin-right: 10px;
      }
      p {
        padding-right: 10px;
        margin: 0;
      }
    }
    & > div {
      display: flex;
      align-items: center;
      .bold {
        font-weight: 600;
        margin-bottom: 8px;
      }
      &:first-child {
        border-left: 0;
        padding-left: 0;
      }
      img {
        height: 48px;
        width: auto;
      }
    }
  }
  .od_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
  }
  .ol_title {
    margin-bottom: 30px;
  }
  .odl_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    margin: 50px 0 10px;
  }
  .status {
    margin-bottom: 30px;
    div {
      display: inline;
      text-align: center;
      padding: 3px 10px;
      color: #fff;
      font-size: 14px;
      border-radius: 6px;
      background: var(--primary-color);
    }
  }
}
.wrapper_mobile_item {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  border-radius: 8px;
  .inner {
    padding: 24px;
    display: flex;
    flex-direction: column;
    .item_header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .row {
        display: inline-flex;
        align-items: center;
      }
      .blue,
      .green {
        margin-left: 5px;
        text-align: center;
        padding: 3px 10px;
        color: #fff;
        font-size: 12px;
        border-radius: 6px;
      }
      .blue {
        background-color: var(--primary-color);
      }
      .green {
        background-color: rgb(34, 200, 84);
      }
    }
    .row {
      margin-bottom: 5px;
    }
    .total {
      font-weight: 600;
      font-size: 18px;
      margin: 20px 0 0;
    }
  }
}
.product_list {
  @media (max-width: 576px) {
    display: none;
  }
}
.product_list_mobile {
  display: none;
  .item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    padding: 24px;
    border-radius: 8px;
    .row {
      max-height: 100px;
      margin: 5px 0;
      p {
        text-align: center;
      }
      .total {
        font-weight: 600;
      }

      .img {
        display: flex;
        justify-content: center;
      }
      img {
        margin: 0 auto;
        height: 100%;
        width: auto;
        max-height: 100px;
      }
    }
    .total {
      font-weight: 600;
    }
  }
  @media (max-width: 576px) {
    display: block;
  }
}
