.list_title {
  font-weight: 600;
  padding: 10px 0;
  font-size: 36px;
  line-height: 50px;
  margin: 30px 0 0;
}
.wrapper_list {
  margin-top: 30px;
  a {
    color: #1f1f1f;
    &:hover {
      text-decoration: none;
    }
  }
  .header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;

    .column {
      padding: 16px;
      font-weight: 500;
      background: var(--secondary-color);
    }
  }
}
.wrapper_item {
  cursor: pointer;
  width: 100%;
  .inner {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    .column {
      padding: 16px;
      &.info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn {
          height: 36px;
          font-size: 14px;
        }
      }
    }
  }
  .details {
    // v2
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // span {
    //   font-weight: 600;
    // }
    font-size: 16px;
    padding: 10px 16px;
    transition: 0.2s;
    p {
      span {
        font-weight: 600;
      }
    }
  }
}
.wrapper_details {
  padding: 30px;
  border-radius: 16px;
  background: #fff;
  margin: 30px 0;
  .data {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 0;
    & > div {
      padding: 0 10px;
      .bold {
        font-weight: 600;
        margin-bottom: 8px;
      }
      // border-left: 1px solid var(--border);
      &:first-child {
        border-left: 0;
        padding-left: 0;
      }
    }
  }
  .od_title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;
    line-break: 36px;
  }
}
