.wrapper {
  .inner {
    .type {
      color: #e85d00;
      font-size: 16px;
      line-height: 1;
    }
    .name {
      font-size: 40px;
      color: #000;
      font-weight: 600;
      line-height: 1.2;
      margin: 20px 0;
    }
    .desc {
      font-size: 16px;
    }
    .colors_title {
      font-size: 16px;
      line-height: 1.5;
      font-weight: bold;
      margin: 30px 0 10px;
    }
    .add {
      button {
        background: var(--primary-color);
        border: 0;
        outline: 0;
        height: 48px;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
        div {
          height: 32px !important;
          width: 32px !important;
        }
        &.disabled {
          cursor: auto;
          background-color: var(--border) !important;
          div {
            color: #1d1d1d;
          }
        }
        &.added {
          cursor: auto;
        }
      }
    }
    .overview {
      font-size: 16px;
      margin-top: 30px;
      .title {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    .main_title {
      font-size: 28px;
      line-height: 1.5;
      font-weight: bold;
      padding: 10px 0;
    }

    .tech_specs {
      ul {
        li {
          display: flex;
          margin: 5px 0;
          line-height: 24px;
          justify-content: space-between;
          .specs_name {
            text-align: left;
            flex-grow: auto;
          }
          .specs_value {
            text-align: right;
            flex-grow: auto;
          }
          p {
            border-bottom: 1px dotted var(--border);
            width: 100%;
            flex-grow: 1;
            height: 24px;
            margin: 0 10px;
            align-self: flex-start;
          }
        }
      }
    }
    .color_cont {
      width: 100%;
      cursor: pointer;
      display: flex;
      border-radius: 12px;
      flex-direction: column;
      outline: 0;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--border-color);
      padding: 16px;
      &.active {
        border: 1px solid var(--primary-color);
        box-shadow: 0 0 1px 1px var(--primary-color);
      }
      .color_name {
        font-size: 12px;
        margin-top: 10px;
      }
      .color_ball {
        height: 32px;
        border-radius: 50%;
        width: 32px;
        &.blue {
          background: rgb(59, 126, 251);
        }
        &.red {
          background: rgb(211, 94, 48);
        }
        &.grey {
          background: rgb(187, 191, 199);
        }
        &.black {
          background: rgb(0, 0, 0);
        }
      }
    }
    .price {
      font-size: 32px;
      color: #000;
      font-weight: 600;
      margin: 20px 0;
      line-height: 1.5;
    }
  }
}
