.wrapper_form {
  margin: 50px 0;
  @media (max-width: 576px) {
    margin: 50px 0 0;
  }
  .header {
    .main_title {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .leading {
      font-size: 17px;
      line-height: 24px;
      @media (max-width: 576px) {
        font-size: 15px;
      }
    }
    margin-bottom: 20px;
  }
  .input_cont {
    max-width: 420px;
    margin-bottom: 10px;
  }
}
.wrapper {
  background: var(--secondary-color);
  margin: 50px 0;
  padding: 24px 16px;
  border-radius: 8px;
  height: min-content;
  @media (max-width: 576px) {
    margin: 0 0 30px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    line-height: 32px;
    font-size: 17px;
  }
  .socials {
    display: flex;
    max-width: 150px;
    margin-top: 20px;
    justify-content: space-between;
    .item {
      cursor: pointer;
    }
  }
}
.main_wrapper {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-gap: 20px;
  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}
