.wrapper_carousel {
  position: sticky;
  top: 0;
  .carousel {
    .main_slide {
      display: flex;
      justify-content: center;
      min-height: 450px;
      .img_cont {
        cursor: pointer;
      }
    }
    .thumb_slide {
      display: flex;
      justify-content: space-evenly;
      .img_cont {
        cursor: pointer;
        padding: 10px;
        overflow: hidden;
        height: 100px;
        width: 100px;
        border-radius: 4px;
        &.active {
          border: 1px solid #000;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
.wrapper_compare {
  margin-bottom: 50px;
  .main_title {
    font-size: 28px;
    line-height: 1.5;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .desc {
    text-align: center;
  }
  a {
    width: 100%;
    text-align: center;
    color: var(--primary-color);
  }
  .grid {
    max-width: 920px;
    margin: 30px auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .column {
      display: flex;
      justify-content: center;
      .inner {
        max-width: 200px;
      }
      .img {
        display: flex;
        align-items: flex-end;
        height: 180px;
      }
      .type {
        color: #e85d00;
        margin: 10px 0;
        height: 20px;
      }
      .name {
        font-size: 24px;
        font-weight: 500;
      }
      .price {
        font-size: 15px;
        font-weight: 500;
      }
      p {
        margin-top: 20px;
      }
    }
  }
}
.wrapper_content {
  .inner {
    .type {
      color: #e85d00;
      font-size: 16px;
      line-height: 1;
    }
    .name {
      font-size: 40px;
      color: #000;
      font-weight: 600;
      line-height: 1.2;
      margin: 20px 0;
    }
    .desc {
      font-size: 16px;
    }
    .colors_title {
      font-size: 16px;
      line-height: 1.5;
      font-weight: bold;
      margin: 30px 0 10px;
    }
    .add {
      button {
        background: var(--primary-color);
        border: 0;
        outline: 0;
        height: 48px;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
        div {
          height: 32px !important;
          width: 32px !important;
        }
        &.disabled {
          cursor: auto;
          background-color: var(--border) !important;
          div {
            color: #1d1d1d;
          }
        }
        span {
          color: #fff;
        }
        &.added {
          cursor: auto;
        }
      }
    }

    .color_cont {
      width: 100%;
      cursor: pointer;
      display: flex;
      border-radius: 12px;
      flex-direction: column;
      outline: 0;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--border-color);
      padding: 16px;
      &.active {
        border: 1px solid var(--primary-color);
        box-shadow: 0 0 1px 1px var(--primary-color);
      }
      .color_name {
        font-size: 12px;
        margin-top: 10px;
      }
      .color_ball {
        height: 32px;
        border-radius: 50%;
        width: 32px;
        &.blue {
          background: rgb(59, 126, 251);
        }
        &.red {
          background: rgb(211, 94, 48);
        }
        &.grey {
          background: rgb(187, 191, 199);
        }
        &.black {
          background: rgb(0, 0, 0);
        }
      }
    }
    .price {
      font-size: 32px;
      color: #000;
      font-weight: 600;
      margin: 20px 0;
      line-height: 1.5;
    }
  }
}
