.wrapper {
  position: sticky;
  top: 0;
  .carousel {
    .main_slide {
      display: flex;
      justify-content: center;
      min-height: 450px;
      .img_cont {
        cursor: pointer;
      }
    }
    .thumb_slide {
      display: flex;
      justify-content: space-evenly;
      .img_cont {
        cursor: pointer;
        padding: 10px;
        overflow: hidden;
        height: 100px;
        width: 100px;

        &.active {
          border: 1px solid #000;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
