.wrapper {
  margin: 50px 0;
  .main_title {
    font-size: 28px;
    line-height: 1.5;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 30px;
  }
  .inner {
    // overflow-x: scroll;
    @media (max-width: 700px) {
      overflow-x: scroll;
    }
    .content {
      min-width: 670px;
    }
    .header {
      color: #fff;
      background: var(--primary-color);
      border-bottom: 1px solid var(--border);
      text-align: center;
      .field_container {
        margin: 0;
      }
      .field {
        font-weight: 600;
        padding: 24px 16px;
        box-sizing: border-box;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 767px) {
          font-size: 14px;
        }
        @media (max-width: 576px) {
          font-size: 12px;
        }
        svg {
          margin-right: 5px;
        }
        // &:nth-of-type(1) {
        //   justify-content: flex-start;
        // }
        // &:nth-last-of-type(1) {
        //   justify-content: flex-end;
        // }
      }
    }
    .row {
      background: #fff;
      border-bottom: 1px solid var(--border);
      &:nth-last-of-type(1) {
        border-bottom: 1px solid var(--border);
      }
      .field_container {
        margin: 0;
        border-left: 1px solid var(--border);
        border-right: 1px solid var(--border);
      }
      .field {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 10px;
        @media (max-width: 767px) {
          font-size: 14px;
        }
        @media (max-width: 576px) {
          font-size: 12px;
        }
        // &:nth-of-type(1) {
        //   justify-content: flex-start;
        // }
        // &:nth-last-of-type(1) {
        //   justify-content: flex-end;
        // }
        div {
          text-align: center;
        }
      }
    }
  }
}
