.wrapper_banner {
  position: relative;
  .img {
    height: 350px;
    img {
      width: 100%;
      object-position: right;
      object-fit: cover;
      height: 100%;
    }
  }
  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 64px;
    color: #fff;
    line-height: 80px;
  }
}
.wrapper {
  background: #fff;
  padding: 30px 0;
  h1 {
    line-height: 1.25;
    @media (max-width: 576px) {
      font-size: 24px;
    }
  }
  h3 {
    margin: 30px 0 10px;
  }
  ul {
    margin-left: 32px;
  }
  li {
    line-height: 32px;
    font-size: 16px;
  }
}
.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 32px;
  justify-content: center;
  margin: 50px 0;
}
.wrapper_item {
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  height: 100%;
  text-align: center;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin: 20px 0 0;
  }
  .desc {
    max-width: 90%;
    text-align: center;
  }
}
