.wrapper_banner {
  position: relative;
  .img {
    height: 350px;
    img {
      width: 100%;
      object-position: right;
      object-fit: cover;
      height: 100%;
    }
  }
  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 64px;
    color: #fff;
    line-height: 80px;
  }
}
.wrapper {
  background: #fff;
  padding: 30px 0;
  h1 {
    line-height: 64px;
    font-weight: 600;
  }
  h3 {
    font-weight: 600;
    margin-top: 30px;
  }
  h2 {
    margin: 10px 0 30px;
    line-height: 1.4;
    font-weight: 600;
    @media (max-width: 576px) {
      font-size: 16px;
    }
  }
  .info {
    line-height: 24px;
    font-size: 14px;
    color: var(--border-color);
  }
  ul {
    margin-left: 32px;
  }
  li {
    line-height: 32px;
    font-size: 16px;
  }
}
