.shopHeader {
  width: 100%;
  padding: 50px 0;
  .wrapper {
    display: flex;
    align-items: center;
    width: 330px;
    .title {
      font-size: 40px;
      font-weight: 600;
      line-height: 42px;
      color: #333333;
    }
  }
}
