.catalogList {
  width: 100%;
  margin: 80px 0;
  text-align: center;
  .wrapper {
    display: block;
    padding: 30px 20px;
    &:hover {
      color: var(--primary-color);
    }
    .catalogImage {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 168px;
      padding-top: 28px;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }
  }
}
.catalogListWrapper {
  margin: 50px 0;
}